# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# editor and IDE paraphernalia
.idea
.vscode
*.swp
*.swo
*~
operator/.vscode/
ocm/blobs
ocm/.DS_Store
ocm/bin
ocm/ocm-descriptors/blobs
ocm/charts/kyma-watcher/templates
