name: pull-listener-pkg

permissions: {}

on: [pull_request, workflow_dispatch]

jobs:
  lint-build-test-listener-pkg:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: "listener/go.mod"
          cache-dependency-path: "listener/go.sum"
      - name: Get configuration
        uses: ./.github/actions/configuration
        id: configuration
      - name: Lint
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
        with:
          version: v${{ steps.configuration.outputs.golangci_lint_version }}
          args: --config=../.golangci.yaml --verbose
          working-directory: ./listener
      - name: Build
        run: make build-verbose
        working-directory: ./listener
      - name: Test
        run: make test
        working-directory: ./listener
