name: pull-runtime-watcher

permissions: {}

on: [pull_request, workflow_dispatch]

jobs:
  lint-build-test-runtime-watcher:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: "runtime-watcher/go.mod"
          cache-dependency-path: "runtime-watcher/go.sum"
      - name: Get configuration
        uses: ./.github/actions/configuration
        id: configuration
      - name: Lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
        with:
          version: v${{ steps.configuration.outputs.golangci_lint_version }}
          args: --config=../.golangci.yaml --verbose
          working-directory: ./runtime-watcher
      - name: Build
        run: make build-verbose
        working-directory: ./runtime-watcher
      - name: Test
        run: make test
        working-directory: ./runtime-watcher
