name: pull-listener-pkg

on: [pull_request, workflow_dispatch]

jobs:
  lint-build-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./listener
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.21'
          cache: false
      - name: Lint
        uses: golangci/golangci-lint-action@v6.1.1
        with:
          version: v1.60.3
          args: --verbose
          working-directory: ./listener
      - name: Build
        run: go build -v ./...
      - name: Test
        run: make test
